<section class="page-header">
  <h2>Registrar Nova Demanda</h2>

  <p>Preencha os detalhes abaixo para reportar um problema no campus.</p>
</section>

<mat-card class="form-card">
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <div class="grid">
      <!-- LOCAL -->

      <mat-form-field appearance="outline">
        <mat-label>Local</mat-label>

        <mat-select formControlName="lugar">
          @for (local of locais; track local.id) {
            <mat-option [value]="local.nome">
              {{ local.nome }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- AMBIENTE -->

      <mat-form-field appearance="outline">
        <mat-label>Ambiente</mat-label>

        <mat-select formControlName="ambiente">
          @for (ambiente of ambientesDisponiveis; track ambiente) {
            <mat-option [value]="ambiente">
              {{ ambiente }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- TIPO DEMANDA -->

    <mat-form-field appearance="outline" class="full-width">
      <mat-label> Tipo de Demanda </mat-label>

      <mat-select formControlName="tipoProblema">
        @for (tipo of tiposDemanda; track tipo.id) {
          <mat-option [value]="tipo.nome">
            {{ tipo.nome }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- SOMENTE ADMIN -->

    @if ((usuario$ | async)?.role === 'admin' || 'servidor') {
      <div class="grid">
        <mat-form-field appearance="outline">
          <mat-label> Prioridade </mat-label>

          <mat-select formControlName="prioridade">
            <mat-option value="baixa"> Baixa </mat-option>

            <mat-option value="media"> Média </mat-option>

            <mat-option value="alta"> Alta </mat-option>

            <mat-option value="critica"> Crítica </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Responsáveis </mat-label>

          <mat-select multiple formControlName="responsavelId">
            @for (usuario of servidoresDisponiveis; track usuario.uid) {
              <mat-option [value]="usuario.uid">
                {{ usuario.nome }}
                ({{ usuario.role }})
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }

    <!-- DESCRIÇÃO -->

    <mat-form-field appearance="outline" class="full-width">
      <mat-label> Descrição Detalhada </mat-label>

      <textarea matInput rows="6" formControlName="descricao"> </textarea>

      @if (form.controls.descricao.invalid && form.controls.descricao.touched) {
        <mat-error> Informe pelo menos 10 caracteres. </mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" (click)="form.reset()">Cancelar</button>

      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
        <mat-icon>send</mat-icon>
        Enviar Chamado
      </button>
    </div>
  </form>
</mat-card>
