@if (authService.usuarioPerfil$ | async; as perfil) {
  @if (perfil.role === 'aluno') {
    <app-dashboard-admin [chamados]="chamados" [agrupamentos]="agrupamentos"> </app-dashboard-admin>
  } @else if (perfil.role === 'servidor') {
    <app-dashboard-admin [chamados]="chamados" [agrupamentos]="agrupamentos"> </app-dashboard-admin>
  } @else {
    <app-dashboard-public [chamados]="chamados" [agrupamentos]="agrupamentos">
    </app-dashboard-public>
  }
} @else {
  <div class="loading-container">
    <p>Carregando informações do painel...</p>
  </div>
}
